<app-header>
  <router-outlet></router-outlet>
</app-header>
<p>Привіт {{lastName}}</p>
            <p>stage {{stage}}</p>
<app-login (stageLogin) = "stageLogin('press')" 
   *ngIf="stage == 'start'"
   [stage] = "stage"
   [name] = "name"
>

</app-login>

<app-layout-press (onStartTimer)="onStartTimer($event)"
   *ngIf="stage == 'press'"  
  
></app-layout-press>

<app-layout-start (onChanged)="onChanged($event)"

   *ngIf="stage == 'game'" 
   [clicks] = "clicks"
   [stage] = "stage"
   [timeLeft] = "timeLeft"
   [condition] = "condition"
>
</app-layout-start>

<app-finish (stageFinish)= "changeStet($event)" 

*ngIf="stage == 'finish'"></app-finish>
